* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.align-items-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.align-items-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.align-items-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

button {
    outline: none;
}

input {
    outline: none;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.only-mobile {
    display: none;
}

.only-web {
    display: block;
}

.page {
    padding: 10px 25px;
}

.page-inner {
    padding: 0 24px;
}

.animate__animated {
    animation-duration: 300ms;
}

.width {
    width: 100%;
    max-width: 1220px;
    padding: 0 24px;
    margin: 0 auto;
}


.header {
    height: 101px;
}

.header-inner {
    background: #0C1939;
    padding: 36px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-logo-container {
    margin-right: 40px;
}

.nav ul li {
    position: relative;
}

.nav-item-link {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
    margin-right: 21px;
    margin-left: 21px;
    padding-bottom: 10px;
}

.subheader {
    position: absolute;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.header-nav-link-item:hover .subheader {
    height: auto;
    opacity: 1;
    padding: 18px 0;
}

.subheader-item-link {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding: 8px 30px;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-decoration: none;
}

.subheader-item-link:hover {
    background: #FBDF46;
}

.header-right {
    margin-left: auto;
    position: relative;
}

.lang-select {
    position: absolute;
    right: 60px;
    color: #fff;
}

.search-container {
    position: relative;
}

.header-search-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 0;
    color: #fff;
    padding-left: 0;
    padding-bottom: 5px;
    opacity: 0;
    transition: all 300ms ease;
}

.header-search-input.active {
    width: 270px;
    padding-left: 10px;
    padding-right: 120px;
    opacity: 1;
}

.header-search-input::placeholder {
    font-size: 15px;
    line-height: 22px;
    color: #A1B2B8;
}

.lang-list {
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease;
}

.lang-select:hover .lang-list {
    height: auto;
    opacity: 1;
}

.lang-list-item {
    padding: 8px 15px;
    cursor: pointer;
}

.selected-lang-container {
    margin-bottom: 14px;
}

.lang-select-arrow {
    margin-left: 12px;
}

.lang-list-item:hover {
    background: #FBDF46;
}

.header-search-btn {
    position: absolute;
    right: 0;
}

.sidebar-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    opacity: 0;
    background: #0C1939;
    z-index: 999;
    overflow: scroll;
    padding: 9px 16px;
    transition: all 300ms ease;
}

.sidebar-menu.active {
    left: 0;
    opacity: 1;
}

.sidebar-menu-search {
    background: #1E2E57;
    border-radius: 20px;
    max-width: 187px;
    padding: 9px 12px;
    border: none;
    color: #fff;
}

.sidebar-menu-search::placeholder {
    color: #A1B2B8;
}

.sidebar-menu-lang-list {
    padding: 16px 0;
}

.sidebar-menu-lang-list {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 9px;
    margin-bottom: 30px;
}

.sidebar-menu-lang-item {
    text-decoration: none;
    font-size: 16px;
    color: #FAFAFA;
    display: block;
    margin-right: 30px;
}

.sidebar-menu-lang-item.active {
    color: #FF5B3C;
}

.sidebar-nav-item {
    margin-bottom: 40px;
}

.sidebar-nav-item:last-child {
    margin-bottom: 30px;
}

.sidebar-nav-link {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
}

.sidebar-nav-link img {
    margin-left: 11px;
}

.sidebar-submenu {
    margin-left: 15px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.sidebar-submenu.active {
    height: auto;
    opacity: 1;
}

.sidebar-submenu-item {
    margin-top: 10px;
}

.sidebar-submenu-link {
    font-size: 14px;
    line-height: 18px;
    color: #d4d4d4;
    text-decoration: none;
}

.sidebar-nav-ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu-footer {
    margin: 30px 0 20px;
}

.sidebar-menu-footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar-menu-footer-item-link {
    font-size: 14px;
    color: #A1B2B8;
    opacity: 0.7;
    text-decoration: none;
    margin-left: 17px;
}

/*--------------*/

.footer {
    background: #FAFAFA;
    padding: 60px 0 30px;
    margin-top: 120px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.footer-logo-img {
    margin-bottom: 30px;
}

.footer-logo-description {
    font-size: 16px;
    line-height: 24px;
    color: #0C1939;
    margin-bottom: 30px;
    width: 70%;
}

.footer-sm-item {
    margin-right: 16px;
}

.footer-nav-title {
    font-size: 16px;
    line-height: 24px;
    color: #0C1939;
    margin-bottom: 20px;
}

.footer-nav-item {
    margin-bottom: 20px;
}

.footer-nav-item-link {
    font-size: 14px;
    line-height: 150%;
    color: #A1B2B8;
    opacity: 0.7;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-nav-item-link img {
    margin-right: 15px;
}

.footer-bottom {
    padding-top: 28px;
    border-top: 1px solid #E8ECED;
}

.footer-bottom-text {
    font-size: 14px;
    text-align: center;
    color: #A1B2B8;
}

.footer-bottom-text-link {
    color: #8167d1;
    text-decoration: underline;
}

.header-banner {
    background-image: url("./img/header-banner.svg");
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 90px;
}

.header-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
    color: #FAFAFA;
}

.header-banner-text:after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 80%;
    border-bottom: 1px solid #FBDF46;
    left: 10%;
}

.success-certificates-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.success-certificates-item {
    max-width: 268px;
}

.success-certificates-img-container {
    height: 182px;
    width: 100%;
    overflow: hidden;
}

.success-certificates-img {
    width: 100%;
    transition: all 500ms ease;
}

.success-certificates-item-footer {
    background: #0C1939;
    padding: 30px 16px;
}

.success-certificates-item-footer p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #FAFAFA;
}

.success-certificates-item:hover .success-certificates-img {
    transform: scale(1.05);
}


.blog-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    max-width: 368px;
    width: 100%;
    transition: .6s;
}

.blog-img-container {
    width: 100%;
    margin: 0 0 32px 0;
}

.blog-img-title {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    left: 29px;
    top: 20px;
    color: #FAFAFA;
    padding: 3px 20px;
    background-color: #FF5B3C;
}

.blog-data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #0C1939;
    margin: 0 0 16px 0;
}

.blog-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
    margin: 0 0 16px 0;
}

.blog-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #133845;
    margin: 0 0 16px 0;
}

.blog-more-info {
    opacity: 0;
    transition: .6s opacity, .6s visibility;
    color: #FF5B3C;
    margin: 0 0 25px 0;
}

.blog-container:hover {
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    transition: .6s;
}

.blog-container:hover .blog-more-info {
    opacity: 1;
}

.blog-content {
    margin: 0 16px;
}

.questions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    margin: 0 0 32px 0;
}

.question-container {
    padding: 20px 16px 30px 16px;
    border: 1px solid #EBEBEB;
    max-width: 568px;
}

.question-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
    margin: 12px 0 16px;
}

.question-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0C1939;
}

.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    max-width: 368px;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
}

.portfolio-item-img {
    margin: 0 0 16px 0;
    width: 100%;
}

.portfolio-item-footer-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
    background-color: #0C1939;
    max-height: 48px;
    height: 100%;
    max-width: 48px;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease;
}

.portfolio-item-content {
    margin: 0 16px 16px 16px;
}

.portfolio-item-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 12px 0;
}

.portfolio-item:hover .portfolio-item-footer-img {
    opacity: 1;
}

.portfolio-btn-wrapper {
    width: 100%;
}

.portfolio-btn {
    display: inline-flex;
    align-items: center;
    background: #0C1939;
    padding: 12px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
    margin: 60px auto 0;
}

.button-img {
    margin: 0 0 0 15px;
}

.news-details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 32px;
    margin-top: 90px;
}

.news-title-option {
    margin-bottom: 30px;
}

.news-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0B0D17;
    margin-bottom: 20px;
}

.news-date {
    font-size: 14px;
    color: #C6C8D3;
    margin-right: 27px;
}

.share-container {
    background: #0063F7;
    border-radius: 15px;
    padding: 5px 10px;
}

.share-container-text {
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 9px;
}

.news-details-img-container {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.news-details-img {
    width: 100%;
}

.news-details-main-text {
    font-size: 16px;
    line-height: 24px;
    color: #020608;
}

.like-news-container {
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
}

.like-news-header {

}

.like-news-header-text {
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    padding: 30px;
    text-align: center;
}

.like-news-item {
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    padding: 30px 16px;
    transition: all 300ms ease;
}

.like-news-item:hover {
    box-shadow: 0px 4px 30px rgba(23, 62, 77, 0.1);
}

.like-news-item-date {
    font-size: 14px;
    color: #0C1939;
    margin-bottom: 16px;
}

.like-news-item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
}

.like-news-item-link {
    text-decoration: none;
}

.appeal-head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.appeal-head-title {
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
    margin-bottom: 16px;
}

.appeal-head-text {
    font-size: 16px;
    line-height: 24px;
    color: #0F2B36;
    margin-bottom: 31px;
}

.appeal-head-note-container {
    background: #D0D8DB;
    padding: 30px;
}

.appeal-head-note-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
}

.appeal-head-img-container {
    position: relative;
}

.appeal-head-img {
    margin-left: auto;
    display: block;
}

.appeal-head-img-note-container {
    background: #0C1939;
    position: absolute;
    bottom: -50px;
    right: 0;
}

.appeal-head-img-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FAFAFA;
    padding: 30px 62px;
}

@media only screen and (max-width: 700px ) {

    .only-mobile {
        display: block;
    }

    .only-web {
        display: none;
    }

    .nav, .header-right, .footer-nav {
        display: none;
    }

    .width {
        max-width: 400px;
    }

    .header {
        height: 80px;
    }

    .header-inner {
        padding: 28px 0;
    }

    .header-logo-img {
        width: 85px;
    }

    .header-banner {
        height: 180px;
        margin-bottom: 60px;
    }

    .header-banner-text {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
    }

    .success-certificates-list {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .success-certificates-item {
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
    }

    .footer {
        margin-top: 90px;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-logo-description {
        width: unset;
        font-size: 16px;
        line-height: 24px;
        color: #0C1939;
    }

    .footer-logo-img {
        width: 147px;
    }

    .footer-sm-container {
        margin-bottom: 25px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom-text + .footer-bottom-text {
        margin-top: 12px;
    }

    .blog-news-container {
        grid-template-columns: 1fr;
    }

    .blog-img-container img {
        width: 100%;
    }

    .blog-more-info {
        opacity: 1;
    }

    .questions-container {
        grid-template-columns: 1fr;
    }

    .portfolio-list {
        grid-template-columns: 1fr;
    }

    .portfolio-item-footer-img {
        opacity: 1;
    }

    .news-details-container {
        grid-template-columns: 1fr;
        margin-top: 70px;
    }

    .news-title {
        font-size: 18px;
    }

    .news-details-main-text {
        font-size: 14px;
    }

    .appeal-head-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .appeal-head-width {
        padding: 0;
    }

    .appeal-head-img {
        width: 100%;
    }

    .appeal-head-title {
        font-size: 22px;
        line-height: 33px;
        padding: 0 16px;
    }

    .appeal-head-text {
        font-size: 16px;
        padding: 0 16px;
    }

    .appeal-head-note-container {
        padding: 30px 16px;
    }

    .appeal-head-note-text {
        font-size: 15px;
        line-height: 22px;
    }

    .appeal-head-container-right {
        margin-bottom: 147px;
    }
}
